.my-heading {
  text-align: center;
  padding: 30px 200px;
  margin: 50px 500px;
  font-size: 40px;
  background-color: #010614;
  font-family: "Abril Fatface";
  color: white;
  border-radius: 50px;
}
