.create-form {
  background-color: #76c8bb;
  border-radius: 3.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
  width: 600px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.create-input,
.create-drop,
.create-text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 200px;
}

.create-text {
  height: 80px;
}

@media only screen and (max-width: 1025px) {
  .create-form {
    padding-top: 50px;
    padding-bottom: 30px;
    width: 400px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .create-form {
    width: 300px;
  }
}
