.form-heading {
  text-align: center;
  padding: 30px 200px;
  margin: 50px 200px;
  font-size: 40px;
  background-color: #000b13;
  font-family: "Abril Fatface";
  color: white;
  border-radius: 50px;
  text-decoration: underline;
}

.create-form {
  background-color: white;
  border-radius: 3.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
  width: 600px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 5px;
}

.create-input,
.create-drop,
.create-text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 200px;
}

.create-text {
  height: 80px;
}
