.details-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-content {
  display: grid;
  grid-template-areas: "I D";
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

.details-car-image {
  width: 600px;
  height: 300px;
  object-fit: contain;
  grid-area: I;
}

.details-container {
  grid-area: D;
  width: 600px;
  height: 300px;
  overflow: auto;
  overscroll-behavior-y: auto;
  line-height: 1.6;
  text-align: left;
  padding: 20px 0 20px 0;
  background-color: #030f17;
  border-radius: 5px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Spartan", sans-serif;
}

.button-container {
  margin: 50px 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.modal-container {
  background-color: #030f17;
  padding: 15px;
  color: white;
  font-family: "Spartan", sans-serif;
}

.modal-button {
  background-color: rgb(118, 235, 235);
  font-family: "Spartan", sans-serif;
}

@media only screen and (max-width: 400px) {
  .details-content {
    display: grid;
    grid-template-areas:
      "I"
      "D";
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .details-car-image {
    width: 300px;
    height: 200px;
  }

  .details-container {
    width: 300px;
    height: 200px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 1025px) {
  .details-content {
    display: grid;
    grid-template-areas:
      "I"
      "D";
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .details-car-image {
    width: 300px;
    height: 200px;
  }

  .details-container {
    width: 300px;
    height: 200px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
