.details-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-heading {
  color: white;
  font-size: 40px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0 20px 0;
  background-color: #227fbe6d;
  border-radius: 20px;
  font-family: "Abril Fatface";
  text-decoration: underline;
}

.details-content {
  display: grid;
  grid-template-areas: "I D";
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

.details-car-image {
  width: 500px;
  height: 500px;
  object-fit: contain;
  grid-area: I;
}

.details-container {
  grid-area: D;
  width: 600px;
  line-height: 1.6;
  text-align: left;
  padding: 20px 0 20px 0;
  background-color: #030f17;
  border-radius: 5px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
